@model IEnumerable<TrainigSectorDataEntry.ViewModel.HistoryBreifVM>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.Extensions.Localization


@inject IStringLocalizer<SharedResource> Localizer
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
}
@{
    var breadcrumb = (TrainigSectorWebSite.ViewModel.Breadcrumb)ViewData["Breadcrumb"];
}
<div class=" container content  ">

    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">
                <div id="sky-form3" class="sky-form">
                    <fieldset>


                        @foreach (var item in Model)
                        {
                            var title = culture == "ar" ? item.TitleAr : item.TitleEn;
                            var description = culture == "ar" ? item.DescriptionAr : item.DescriptionEn;

                            string carouselId = $"carousel-{item.Id}";
                            string thumbnailGalleryId = $"gallery-{item.Id}";

                            <div class="row">
                                <div class="col-md-4">

                                    <section>
                                        <div class="high-rated techs">

                                            <div id="@carouselId" class="carousel slide" data-ride="carousel">

                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < item.HistoryBerifImages.Count; i++)
                                                    {
                                                        <li class="rounded-x @(i == 0 ? "active" : "")"
                                                            data-target="#@carouselId"
                                                            data-slide-to="@i">
                                                        </li>
                                                    }
                                                </ol>

                                                <!-- Images -->
                                                <div class="carousel-inner">
                                                    @for (int i = 0; i < item.HistoryBerifImages.Count; i++)
                                                    {
                                                        var img = item.HistoryBerifImages.ElementAt(i);
                                                        <div class="item @(i == 0 ? "active" : "")">
                                                            <img class="img-responsive img-bordered"
                                                                 src="@img.ImagePath"
                                                                 alt="">
                                                        </div>
                                                    }
                                                </div>

                                            </div>

                                        </div>
                                    </section>

                                    <!-- Thumbnail Gallery -->
                                    <div class="col-sm-1 v-album">
                                        <ul class="list-unstyled">

                                            @foreach (var img in item.HistoryBerifImages)
                                            {
                                                <li>
                                                    <a class="fancybox"
                                                       data-rel="gallery-@item.Id"
                                                       title="@title"
                                                       href="@img.ImagePath">
                                                        <img class="img-responsive"
                                                             src="@img.ImagePath"
                                                             alt="">
                                                        <span class="portfolio-box-v2-in"></span>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </div>

                                </div>

                                <!-- Text Section -->
                                <div class="col-md-8">

                                    <div class="headline-center-v2 headline-center-v2-dark title">
                                        <h2 class="color-orange">@title</h2>
                                        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                    </div>

                                    <p class="bg margin-bottom-25">
                                        @description
                                    </p>

                                </div>
                            </div>
                        }


                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>